:root {
  font-family: "Josefin Sans", sans-serif;
}

.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root.dark {
  color: #ffffff;
  background-color: #000000;
}

:root.light {
  color: #000000;
  background-color: #ffffff;
}